html, body {
  margin: 0;
  padding: 0;
  width: 127px;
  height: 158px;
  overflow: hidden;
  background: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#boko-popup {
  position: relative;
  width: 127px;
  height: 158px;
  overflow: hidden;
}
#boko-popup video {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 158px;
  object-fit: contain;
}
